.wrap-box {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
form label {
  margin-bottom: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    display: block;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
